<h2>Create Expense</h2>
<div class="container">
	<form class="form" ng-submit="addExpense()">
		<input type="text" placeholder="Expense amount" ng-model="expense.amount" ng-required>
		<input type="date" placeholder="Expense date" ng-model="expense.date" ng-required>
		<div class="btn-group">
		  <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
		    Select Category <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li ex-dropdown ng-repeat="category in categories"><a href="#">{{category.name}}</a></li>
		  </ul>
		</div>
		<button class="btn btn-primary" type="submit">Add Expense</button>
	</form>	
</div>