<h2>Expense</h2>
<div class="container">
	<form class="form" ng-submit="addExpense()">
		<input type="text" placeholder="Expense amount" ng-model="expense.amount" ng-required>
		<input type="date" placeholder="Expense date" ng-model="expense.date" ng-required>
		<div class="btn-group">
		  <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
		    Select Category <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li ex-dropdown ng-repeat="category in categories"><a href="#">{{category.name}}</a></li>
		  </ul>
		</div>
		<button class="btn btn-primary" type="submit">Add Expense</button>
	</form>
	<button type="button" class="btn btn-success" ng-click="showExpense()">Show all Expenses</button>
	<div >
		<table class="table">
		  <thead>
		    <tr>
		      <th>User id</th>
		      <th>Amount</th>
		      <th>Date Expense</th>
		      <th>Category Id</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="expense in allExpenses.data">
		      <th scope="row">{{expense.user_id}}</th>
		      <td>{{expense.amount}}</td>
		      <td>{{expense.created_at}}</td>
		      <td>{{expense.category_id}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>